.github {
    .fa {
        color: grey;
    }

    .ghicon {
        text-align: right;
    }

    .desc {
        color: lightgrey;
        font-style: italic;
    }

    .repo_link {
        text-decoration: none;
        color: grey;

        &:hover {
            text-decoration: underline;
        }
    }
}
