.github {
    .desc {
        color: grey;
        font-style: italic;
    }

    .repo_link {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }
}
