.post {

    .title {
        font-size: large;
        font-style: bold;
        margin-bottom: 0px;
    }

    .subheader {
        font-size: small;
        font-style: italic;
        color: grey;
    }

}
