.tweet {
    margin-top: .5em;
    margin-bottom: .5em;

    .tbody {
        border-radius: 2px;
        border: 1px solid lightgrey;
        background-color: #FFFEFE;
        font-style: bold;
        color: grey;
    }

    .ticon {

        font-size: larger;
        color: #ABABAB;
        vertical-align: middle;

        .tlink {
            color: grey;
            text-decoration: none;
        }
    }

    .ttimestamp {
        color: lightgrey;
        font-style: italic;
        text-align: right;
    }
}
