<html>
<head>
    {% block head %}
    <title>Dorthu.com</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
    {% block header %}
    <div class="container-fluid" id="header">
        <div class="col-md-8 col-md-offset-2 text-center">
            <a href="http://dorthu.com">
                <img src="http://gravatar.com/avatar/9a9b276fd38709d2dd59c5b010a100e6"/>
            </a>
        </div>
    </div>
    {% endblock %}
    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <div class='col-md-2 text-center'>
                <!-- flame goes here -->

                {% for data in features %}
                    {% if data.type == 'tweet' %}
                        {% include 'tweet.html' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class='col-md-8'>
                {% block content %}
                {% endblock %}
            </div>
            <div class='col-md-2'>
                <!-- flame goes here -->

                {% for data in features %}
                    {% if data.type == 'github' %}
                        {% include 'github.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
        var ctxl = ctxr = null;

        ctxl = document.getElementById('flame-left').getContext('2d');
        ctxr = document.getElementById('flame-right').getContext('2d');

        var ctxs = [ ctxl, ctxr ];
        var particles = [];

        function make_particle(x,y) {
            return { x: x, y: y, color: { r: 250, g: 0, b: 0 } };
        }

        function update_particle(part, step) {
            part.y = part.y - step;
            part.x += 1 * ((30 - part.x) / 10);
            part.color.g = part.color.g + 20 * step;
            part.color.b = part.color.b + 20 * step;

            return part.y > 15;
        }

        function animate_flames() {
            var resulting_particles=[];
            for(var i=0; i<ctxs.length; i++) {
                console.log('flame holder');
                var ctx = ctxs[i];
                ctx.clearRect(0,0,100,100);

                ctx.fillStyle="#FF8899";
                for(var j=particles.length-1; j>=0; j--) {
                    var cur = particles[j];
                    if(update_particle(cur, 1*Math.random())) {
                        resulting_particles.push(cur);
                    }
                    ctx.fillStyle = "rgba("+cur.color.r+","+cur.color.g+","+cur.color.b+",1)";
                    ctx.fillRect(cur.x-2, cur.y-2, 4, 4);
                }

                /// draw the flame holder
                ctx.fillStyle = "rgba(0,0,0,1)";
                ctx.beginPath();
                ctx.moveTo(20,20);
                ctx.lineTo(40,20);
                ctx.lineTo(40,25);
                ctx.quadraticCurveTo(30,40,20,25);
                ctx.closePath();
                ctx.fill();
            }

            particles = resulting_particles;
            make_particles();
        }

        function make_particles() {
            for(var i=0; i<14; i++) {
                particles.push(make_particle(20 + Math.random()*20, 20));
            }
        }

        animate_flames();

        make_particles();
///        window.setInterval(animate_flames, 100);
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
