<div class="github">
    <div class='col-md-1 ghicon'>
        <i class="fa fa-github-square"></i>
        {% if data.icon == 'push' %}
            <i class="fa fa-arrow-right"></i>
        {% elif data.icon == 'create' %}
            <i class="fa fa-asterisk"></i>
        {% elif data.icon == 'fork' %}
            <i class="fa fa-code-fork"></i>
        {% endif %}

    </div>
    <div class="col-md-10">
        {{ data.repo }} :: <span class="desc">{{ data.content }}</span>
    </div>
    <div class="col-md-1">
        {{ data.timestamp.strftime("%-m/%-d/%Y") }}
    </div>
</div>
